* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

section {
    height: 700px;
    width: 1000px;
    background-color: rgba(2, 7, 48, 0.921);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* top: 200px;
    left: 400px; */
}
.main-div{
    height: 70%;
    width: 100%;
    
}
.abc-div{
    height: 20%;
    width: 100%;
    
}
.d {
    position: absolute;
    font-size: 290px;
}

.d1 {
    top: 100px;
    left: 120px;
    color: rgb(30, 141, 30);

}

.e1 {
    top: 70px;
    left: 260px;
    color: rgb(150, 166, 9);
}

.s1 {
    top: 143px;
    left: 350px;
    color: rgb(13, 109, 204);
}

.i1 {
    top: 100px;
    left: 490px;
    color: rgb(150, 166, 9);
}

.g1 {
    top: 70px;
    left: 520px;
    color: rgb(13, 109, 204);
}

.n1 {
    top: 100px;
    left: 680px;
    color: deeppink;
}
.t1{
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
    top: 130px;
    left: 240px;
}

.l2 {
    height: 1px;
    width: 80px;
    background-color: aqua;
    top: 100px;
    left: 150px;
    position: relative;
}
.l3{
    height: 1px;
    width: 90px;
    background-color: deeppink;
    top: 100px;
    left: 440px;
    position: relative;
}
.l4{
    height: 1px;
    width: 150px;
    background-color:yellowgreen;
    top: 100px;
    left: 710px;
    position: relative;
}
.l5{
    height: 1px;
    width: 200px;
    background-color: deeppink;
    top: 340px;
    left: 140px;
    position: relative;
}
.l6{
    height: 1px;
    width: 300px;
    background-color:yellowgreen;
    top: 340px;
    left: 550px;
    position: relative;
}





